<!DOCTYPE html>
<head>
  <title>Node js Blog</title>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <%- include("./partials/nav.ejs") %>
  <header class="text-center h1">Blog site</header>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam similique
    voluptatem officia nihil error aspernatur. Voluptas nesciunt non nostrum,
    veniam molestiae saepe ipsa ratione ipsam neque voluptate, nobis atque
    itaque?
  </p>

  <%- include("./partials/footer.ejs") %>
</body>
